body {
font-family: 'Open-Sans', sans-serif;
color: #373A3C;
}

.bg-mora {
    background-color: #660066;
}

.navbar-nav {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 10pt;
}

.navbar-brand {
    font-size: 20pt;
    margin: 0;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
 

.yo-soy {
    position: absolute;
    top: 60%;
    left: 42%;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 72pt;
}

.natalia {
    position: absolute;
    top: 75%;
    left: 40%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 72pt;
}

.linea-titulo {
    position: absolute;
    top: 74%;
    left: 40%;
}


.texto-central {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 600;
    font-size: 20pt;
}


hr {
    height: 1px;
}

.linea-texto-central {
    height: 1px;
}

.parrafo-1,.parrafo-2 {
    display: inline-block;
}

.textos {
    text-align:center
}

.titulos-secciones, .titulos-trabajos, .titulos-contacto { 
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32pt;
}


.experiencia, .contacto {
    text-align:center
}

.logo-1,.logo-2 {
    display: inline-block;
    max-width: 40%;

}

.logos h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 16pt;
}

.logos p{
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}
    

.trabajos {
    background-color: #660066;
}


.card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16pt;

}

.card-text {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
}


.redes-sociales {
    font-size: 40px;
}